<!-- plantillas/registration/password_change_form.htnl -->
<!-- # by: RETBOT -->
{% extends 'base.html' %}{% load crispy_forms_tags %}

{% block title %}- Cambio de contrasela{% endblock title %}

{% block content %}
<div  class="card">
    <div  class="card-body">
    <h2>Cambio de contraseña</h2>
    <p>Por favor introduzca su contrasela anterior.  por razones de seguridad,
        y luego introduzca su nueva contraseña dos veces para poder verificar que la escribió 
        correctamente.</p><!-- # by: RETBOT -->

        <form  method="post">{% csrf_token %}{{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Cambiar contraseña">
        </form>
    </div>
</div>
{% endblock content %}
<!-- # by: RETBOT -->
