<!--plantillas/lista_articulos.html-->
{% extends 'base.html' %}
<!-- # by: RETBOT -->
{% block title %} - Art&iacute;culos{% endblock title %}
    <!-- # by: RETBOT -->

{% block content %}
    {% for articulo in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weigth-bold">{{ articulo.titulo }}</span>&middot;
                <span class="text-muted">por {{ articulo.autor }} | {{ articulo.fecha }}</span>
            </div>
            <div class="card-body">
                {{ articulo.cuerpo }}
            </div>
            <di class="card-footer text-center text-muted">
                <a href="{% url 'editar_articulos' articulo.pk %}">Editar</a> | 
                <a href="{% url 'detalle_articulo' articulo.pk %}">Detalle</a>  
            </div>
            <div class="card-footer">
                {% for comentario in articulo.comentarios.all %}
                    <p><!-- # by: RETBOT -->
                        <span class="font-weight-bold">{{ comentario.autor }} &middot;</span>
                        {{ comentario }}
                    </p>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
    <!-- # by: RETBOT -->
